PORT=3000

PASSWORD_PEPPER=your_pepper_value_here
JWT_SECRET=your_jwt_secret_here_min_32_chars

SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_SECRET_KEY=your_supabase_secret_key_here

NODE_ENV=development

SMTP_HOST=127.0.0.1
SMTP_PORT=54325
EMAIL_FROM=noreply@help-tutor.local

FRONTEND_URL=http://localhost:4200
